# Python
__pycache__/
*.py[cod]
*$py.class

# Models and Large Files
*.pt
*.pth
*.safetensors
*.h5
*.pkl
*.bin

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/credentials.toml
